.header {
    background-color:#F55A5A;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoMundo {
    width: 48px;
    height: 48px;
}

.title--navbar {
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    color: #FFFF;
    margin-left: 0;
}